.section {
  margin-top: 80px;
}

.Footer {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  height: 40px;
}

.listDiv {
  margin: 40px 200px ;
margin-top: 100px;
  width: 1503px;
  height: 1503px;  border: solid 0px black;
}

.carouseDiv {
  margin: 40px 200px;
}

.ant-menu-light {
  background-color: black;
}
.AntMenu {
  border: solid 5px rgb(0, 0, 0);
  border-radius: 10px;
  height: 60px;
  width: 800px;
  margin-left: 200px;
}
.AntMenu .siderMenu {
  background-color: #000000;
  color: #ffffff;
}

.AntMenu .siderMenu:hover {
  transition: all 1s;
  background-color: #e41f1f;
}

.NavLink {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}


.headerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color: #fff;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card {
  border: outset 2px rgb(170, 167, 167);
}











/* contact css'ler */
.map{
  width: 600px;
  height: 450px; 
}

.seppettekiUrun{
  border: outset 2px rgb(170, 167, 167);
  height: 100px;
  width: 1500px;
  display: flex;
  margin-left: 20px;
  

}

/* .seppettekiUrun p {
  margin: 30px;
} */
.sepettekiTutar{
  border: outset 2px rgb(170, 167, 167);
  height: 250px;
  width: 250px;
  margin-left: 50px;
}